@import 'vars';
.slide-out-blurred-bottom {
	-webkit-animation: slide-out-blurred-bottom 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
	        animation: slide-out-blurred-bottom 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}
.howCard__img {
    margin-bottom: 20px;
  }
  .howCard__img > figure {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: $circles;
  }
  .howCard__Text > h1 {
    font-weight: 400;
    font-size: 2.5rem;
  }
  .howCard__Text > p {
    line-height: 1.6;
    font-size: 1.4rem;
    margin-top: 10px;
    color: $lightGrey;
  }
  .howCard__form .form__inputs {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  .howCard__form form label {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: $circles;
    color: $lightGrey;
    text-align: center;
    padding-top: 13px;
  }
  .howCard__form form label:hover {
    background-color: $orange;
    cursor: pointer;
    color: $white;
  }
  .howCard__form input:checked + label {
    background-color: $mediumGrey;
    color: $white;
  }
  .howCard__form input {
    position: absolute;
    top: -1000px;
  }
  .howCard__form button {
    height: 45px;
    width: 100%;
    border-radius: 30px;
    border: none;
    margin-top: 20px;
    background-color: $orange;
    color: $white;
    letter-spacing: 2px;
  }
  .howCard__form button:hover {
    background-color: $white;
    color: $orange;
    cursor: pointer;
  }

@media (min-width: 750px) {
    .howCard__img > figure {
        width: 50px;
        height: 50px;
    }
    .howCard__form form label {
        width: 50px;
        height: 50px;
        padding-top: 18px;
    }
    .howCard__form button {
        margin-top: 30px;
    }
}
@-webkit-keyframes slide-out-blurred-bottom {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px) scaleY(2) scaleX(0.2);
            transform: translateY(1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}
@keyframes slide-out-blurred-bottom {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px) scaleY(2) scaleX(0.2);
            transform: translateY(1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}