@import 'vars';

html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $bg;
  font-size: 1.5rem;
  font-family: 'Overpass', sans-serif;
}
main {
  height: 100vh;
  color: $white;
}
.flex {
  margin: 0 auto;
  height: 100%;
  max-width: 330px;
  display: flex;
  align-items: center;
}
.none {
  display: none;
}
.card {
  width: 100%;
  height: 360px;
  background-color: $bgcard;
  border-radius: 15px;
  padding: 25px 25px 30px 25px;
}
footer {
  height: 5vh;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: $white;
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media (min-width: 750px) {
  .flex {
    max-width: 415px;
  }
  .card {
    height: 415px;
    padding: 50px;
  }
}